.drop-target {
  border: 3px dashed red;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 10px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 12px;
  min-height: 50px;
  width: 80px;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.drop-target.active {
  background-color: #ffe6e6;
  transform: scale(1.02);
}
