/* Zona de destino - reducir la opacidad del fondo */
.drop-zone {
    display: flex;
    position: absolute;
    width: 7rem;
    height: 2rem;
    border: 2px dashed #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .drop-zone.highlight {
    border-color: #4CAF50;
    background-color: rgba(76, 175, 80, 0.2);
  }
  
  .drop-zone.filled {
    border-color: #000;
    border-style: solid;
  }
  
  .word-content {
    font-weight: bold;
    color: #333;
    width: 100%;
    text-align: center;
  }
  
  .placeholder-text {
    color: #999;
    font-style: italic;
  }