/* Estilo base para el contenedor del header */
.footer-container {
    display: flex;
    grid-area: footer;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Para centrar el contenido verticalmente */
    background-color: red;
    position: relative;
    padding: 15px 0; /* Espaciado vertical en lugar de height fija */
    /* width: 100%; */
}

/* Tablet */
@media (min-width: 768px) { 
    .footer-container {
        /* Si necesitas cambios específicos para tablets, agrégalos aquí */
    }
}

/* Laptop */
@media (min-width: 1024px) { 
    .footer-container {
        font-size: 1.5rem;
        background-color: bisque;
    }
}

/* Escritorio */
@media (min-width: 1280px) { 
    .footer-container {
        /* Puedes modificar otros estilos aquí si es necesario */
    }
}
