/* Estilo base para el contenedor del header */
.footer-container {
    display: flex;
    grid-area: footer;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Para centrar el contenido verticalmente */
    background-color: orange;
    position: relative;
    padding: 1.5rem 0; /* Espaciado vertical en lugar de height fija */
    font-size: .9rem;
    padding: 1.rem 1.5rem;
    /* width: 100%; */
}

/* Tablet */
@media (min-width: 768px) { 
    .footer-container {
        /* Si necesitas cambios específicos para tablets, agrégalos aquí */
    }
}

/* Laptop */
@media (min-width: 1024px) { 
    .footer-container {
        font-size: 1.2rem;
    }
}


}
