
/* Estilo base para el contenedor del header */
.header-container {
    display: flex;
    grid-area: header; /* Especifica que es la zona del header en el grid */
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    color: white;
    background-color: #16213e;
    position: relative; /* Esto es importante si tienes elementos posicionados de manera absoluta dentro de este contenedor */
}

.titulo-header {
    /* border: 5px solid white; */
    font-size: 1.3rem;
    /* height: 2rem; */
    

}


/* Tablet */
@media (min-width: 768px) { 
    .header-container {
        /* Si necesitas cambios específicos para tablets, agrégalos aquí */
        
    }
}

/* Laptop */
@media (min-width: 1024px) { 
    .header-container {
       
        /* background-color: bisque; */
    }
}

/* Escritorio */
@media (min-width: 1280px) { 
    .header-container {
         font-size: 1.3rem;
        /* Puedes modificar otros estilos aquí si es necesario */

    }
}
