/* Por defecto (móvil) */
.layout-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    /* border: 5px solid pink; */
}

/* Tablet */
@media (min-width: 768px) {
    .layout-container {
        grid-template-columns: 1fr; /* Una sola columna centrada */
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }
}


/* Escritorio */
@media (min-width: 1280px) {
    .layout-container {
        grid-template-columns: 1fr; /* Una sola columna centrada */
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }
}

/* Asegurar que el header ocupe todo el ancho */
.layout-container > header {
    grid-area: header;
    width: 100%;
}

/* Agregar esto a layout.css */
.layout-container > main {
    grid-area: main;
    width: 100%;
}

/* Asegurar que el footer ocupe todo el ancho */
.layout-container > footer {
    grid-area: footer;
    width: 100%;
}