.main-container {
    grid-area: main; /* Especifica que es la zona del header en el grid */
    /* border: 5px solid blue; */
    font-size: 1.1rem;
    padding: 1rem 1rem;
  }
  
  
@media (min-width: 1024px) {
  .main-container {
    padding: 1rem 1rem;
    font-size: 1.2rem;
  }


}


