/* Por defecto (móvil) */
.navbar {
  /* border: 5px solid white; */
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 0.8rem 1rem;
  right: -4rem;
}

.hamburger {
  position: relative;
  font-size: 1.5rem;
  color: white;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  display: block; /* Visible en móvil */
  transition: background-color 0.3s ease;
}

.hamburger:hover {
    /* background-color: #0056b3; */
}

.nav-links {
  display: none; /* Menú oculto por defecto en móvil */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  /* Degradado de transparente a blanco con algo de opacidad */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
  flex-direction: column;
  padding: 1rem 0;
  gap: 0;
  backdrop-filter: blur(6px); (Opcional) para dar un efecto de vidrio si hay contenido detrás
}


.nav-links.open {
  display: flex; /* Mostrar menú cuando está abierto */
  left: -170%;
  align-items: center;

}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #333;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); /* Sombra suave */
}

/* A partir de tablet (768px) en adelante */
@media (min-width: 768px) {
  .hamburger {
    display: none; /* Ocultar hamburguesa en pantallas grandes */
  }

  .nav-links {
    display: flex !important; /* Mostrar menú siempre */
    position: static;
    flex-direction: row;
    padding: 0;
    gap: 2rem;
  }
  
}

/* Laptop */
@media (min-width: 1024px) {
  .nav-links {
    gap: 3rem;
    
  }

}

/* Escritorio */
@media (min-width: 1280px) {
  .nav-links {
    gap: 3rem;
    background: none;
  }
  
   .nav-links a {
    color: white;
  }
}
